$primary: #0277bd;
$secondary: #263238;
$accent: #26a69a;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;

$primary: #37474f;
$secondary: #263238;
$accent: #26a69a;
$info: #4fc3f7;
$success: #2e7d32;
$warning: #ff8f00;
$error: #d32f2f;
$group1: #039be5; // Gueudelot
$group2: #4caf50; // Guibert
$group3: #ff7043; // Guyomard


@import url("https://fonts.googleapis.com/css?family=Comfortaa|Tangerine");
