NODE_ENV=development
API_PORT=5010
WS_PORT=5011
AUTH_SESSION_DURATION_MS=3600000
AUTH_SESSION_SALT=jwtSecretSalt

DB_TYPE_DEFAULT=postgres
DB_HOST_DEFAULT=localhost
DB_PORT_DEFAULT=5432
DB_USER_DEFAULT=postgres
DB_PASSWORD_DEFAULT=postgres
DB_NAME_DEFAULT=postgres

PATH_FILES=/var/absg5/files
URL_FILES=http://localhost:5010/files/
